@font-face {
    font-family: "wf_segoe-ui_normal";
    src: url('resources/fonts/segoeui-regular.woff') format('woff'),
        url('resources/fonts/segoeui-regular.ttf') format('truetype');
}
@font-face {
    font-family: "wf_segoe-ui_semibold";
    src: url('resources/fonts/segoeui-semibold.woff') format('woff'),
            url('resources/fonts/segoeui-semibold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "wf_segoe-ui_semilight";
    src: url('resources/fonts/segoeui-semilight.woff') format('woff'),
        url('resources/fonts/segoeui-semilight.ttf') format('truetype');
}

@font-face {
    font-family: 'webfontPreload';
    src: url('resources/fonts/office365icons.eot?#iefix') format('embedded-opentype'),
         url('resources/fonts/office365icons.woff') format('woff'),
         url('resources/fonts/office365icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "SkypeIcon";
    src: url('resources/fonts/SkypeIcon.eot?qgmikt');
    src: url('resources/fonts/SkypeIcon.eot?#iefixqgmikt') format('embedded-opentype'),
    url('resources/fonts/SkypeIcon.woff?qgmikt') format('woff'),
    url('resources/fonts/SkypeIcon.ttf?qgmikt') format('truetype'),
    url('resources/fonts/SkypeIcon.svg?qgmikt#SkypeIcon') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Light", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-weight: lighter;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .65) 50% 50% url('../images/loading.gif') no-repeat;
}

.header{
  padding: 0;
  border-bottom: 8px solid rgb(236,236,236);
  margin-bottom: 20px;
  color: #0099FF;
  margin: 20px auto 40px 30px;
   left:60%;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 2px;
  padding-bottom: 10px;
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.container{
    position: relative;
    margin: 20px auto 40px 30px;
}


.sign-in{
  display: inline-block;
}

.token-sign-in{
  display: inline-block;
  margin-top: 20px;
}

.sign-in h1, .token-sign-in h1{
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 170px;
  min-width: 170px;
  font-size: inherit;
  font-size: 22px;
  color: #0099FF;
}

.sign-in div, .token-sign-in div, .sign-out{
    margin-top: 20px;
}

.sign-in input, .token-sign-in input{
   height: 26px;
}

.sign-in #btn-sign-in, .sign #btn-token-sign-in, #btn-token-sign-in{
   width: 200px;
   font-size: 20px;
   background-color: rgb(16,158,222);
   color: #ffffff;
   display: inline-block;
   text-align: center;
   padding: 0.4em;
}

.sign-out #btn-sign-out{
   height: 23px;
   width: 80px;
   font-size: 18px;
   background-color: rgb(16,158,222);
   color: #ffffff;
   display: inline-block;
   text-align: center;
   padding: 5px;
}

.sign-in #btn-sign-in:hover, .sign-out #btn-sign-out:hover,#btn-token-sign-in:hover{
  cursor: pointer;
}